<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>495393736572-090b78bkvcab659kkeja9qepmrn42gi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495393736572-090b78bkvcab659kkeja9qepmrn42gi7</string>
	<key>API_KEY</key>
	<string>AIzaSyB7j-7IG4Zt9rUkUFBN0M3aGiLuTKyE0Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>495393736572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sarmady.FilGoal</string>
	<key>PROJECT_ID</key>
	<string>sarmady.net:api-project-495393736572</string>
	<key>STORAGE_BUCKET</key>
	<string>sarmady.net:api-project-495393736572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495393736572:ios:9c7c46c9c82c0605</string>
	<key>DATABASE_URL</key>
	<string>https://sarmady-net-api-project-495393736572.firebaseio.com</string>
</dict>
</plist>