<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FilGoalIOS WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>FilGoalIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MatchesActionWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MatchesDataKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MatchesWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MatchesWidgetFrameWork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MatchesWidgetKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NewsWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>gg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>524522CF18F170E200D05ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>524522EA18F170E200D05ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6952FA9E1B68B128008AEC04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F15F2D51A061684002725F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F15F2DF1A061684002725F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F15F3071A061E5F002725F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F15F3111A061E60002725F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F15F3691A063328002725F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F15F3731A063329002725F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F270FC919F7D29C00DDEBF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F4C9EB719F92E460092D4F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F7E52161A08D347006F6B67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FC017E719F91DD6009014B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FFD673D1A763A420084A14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FFD67651A763A910084A14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FFD677E1A763D8E0084A14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FFD678D1A763D8E0084A14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
