
@font-face
{
    font-family: 'DINNextLTW23Regular';
    src: local('DINNextLTW23Regular'),url('DINNextLTW23Regular.otf') format('opentype');
}

/*body
{
    font-family: 'DINNextLTW23Regular';
    font-size: 30px;
    font-weight: normal;
}*/




